@font-face { font-family: Monaco; src: url('monaco.ttf'); }

body {
    background-image: url("img/bg.png");
}

p {
    color: whitesmoke;
    text-align: center;
    font-family: 'Monaco', monospace;
    font-size: 175%;
}

.rev {
    color: whitesmoke;
    text-align: center;
    font-family: 'Monaco', monospace; 
    top: 30%;
    transition: top 1s;
}

.rev:hover {
    opacity: 1;
    top: 40%;
}

.songinfo {
    font-size: 200%;
}