@font-face { font-family: Outfit; src: url('story/Outfit.ttf'); }
@font-face { font-family: DM-Mono; src: url('story/DMMono.ttf'); }
@font-face { font-family: DotGothic16; src: url('story/DotGothic16.ttf'); }
@font-face { font-family: MyriadPro; src: url('story/MyriadPro.OTF'); }
@font-face { font-family: Kazesawa; src: url('story/Kazesawa-Regular.ttf'); }
@font-face { font-family: Monaco; src: url('monaco.ttf'); }

body {
    background-color: black; font-family: Georgia, serif;
}

p {
    color: whitesmoke;
    font-size: 140%;
}

img {
    position: fixed;
    transform: translate(-50%,-50%);
}

div {
    background-color: white;
    position: fixed;
    top: 20%;
}

.fracture {
  width: 60%;
  background-color: #260207;
  border: #DE143D;
  border-radius: 1%;
  color: #FFFFFF;
  font-family: Monaco;
  margin:auto;
  position: static;
}

.narr {
    font-family: DotGothic16;
}

.lucy {
    font-family: Outfit;
}

.miki {
    font-family: DM-Mono;
}

.noka {
    font-family: Kazesawa;
}

.kite {
    font-family: Outfit;
}

.cile {
    font-family: Outfit;
}

.miko {
    font-family: 'Courier New', Courier, monospace;
} 

.exit {
    text-align: center;
}