@font-face { font-family: Outfit; src: url('Outfit.ttf'); }
@font-face { font-family: DM-Mono; src: url('DMMono.ttf'); }
@font-face { font-family: DotGothic16; src: url('DotGothic16.ttf'); }
@font-face { font-family: MyriadPro; src: url('MyriadPro.otf'); }

body {
    background-color: black; font-family: Georgia, serif;
}

p {
    color: whitesmoke;
    font-size: 150%;
    text-align: center;
    position: fixed;
}

img {
    position: fixed;
    transform: translate(-50%,-50%);
}

div {
    background-color: white;
    position: fixed;
    top: 20%;
}

.narr {
    font-family: DotGothic16;
}

.lucy {
    font-family: Outfit;
}

.miki {
    font-family: DM-Mono;
}

.noka {
    font-family: MyriadPro;
}

.kite {
    font-family: Outfit;
}

.cile {
    font-family: Outfit;
}

.lucy {
    font-family: Outfit;
} 

