@font-face { font-family: Outfit; src: url('story/Outfit.ttf'); }
@font-face { font-family: DM-Mono; src: url('story/DMMono.ttf'); }
@font-face { font-family: DotGothic16; src: url('DotGothic16.ttf'); }
@font-face { font-family: MyriadPro; src: url('story/MyriadPro.OTF'); }
@font-face { font-family: Kazesawa; src: url('story/Kazesawa-Regular.ttf'); }
@font-face { font-family: Monaco; src: url('monaco.ttf'); }

body {
    background-color: black; font-family: Georgia, serif;
}

p {
    color: whitesmoke;
    font-size: 140%;
}

img {
    position: fixed;
    transform: translate(-50%,-50%);
}

div {
    background-color: white;
    position: fixed;
    top: 20%;
}

.fracture {
  width: 60%;
  height: 700px;
  background-color: #260207;
  border: #DE143D;
  border-radius: 2.5%;
  color: #FFFFFF;
  font-family: DotGothic16;
  margin:auto;
  position: static;
}

.fracturebutton {
    font-family: DotGothic16;
    background-color: #41040d;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 200%;
    height: 20px;
    width: auto;
}

.fracturebutton:hover {
    background-color: #58131c;
}

.narr {
    font-family: DotGothic16;
}

.lucy {
    font-family: Outfit;
}

.miki {
    font-family: DM-Mono;
}

.noka {
    font-family: Kazesawa;
}

.kite {
    font-family: Outfit;
}

.cile {
    font-family: Outfit;
}

.miko {
    font-family: 'Courier New', Courier, monospace;
} 

.exit {
    text-align: center;
}