

body {
    background-color: #50609f;
    font-family: 'Courier New', Courier, monospace;
}

.blackfill {
    background-color: #0E162C;
    width: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    height: 2.5%;
} 

.bar {
    position: fixed;

    width: 100%;
    height: 50px;

    top: 0px;
    left: 0px;

    overflow: hidden;
    background-color: #0E162C;
}

.bar a {
    float: left;
    text-align: center;
    font-size: 30px;
    padding: 8px 10px;
    color: aliceblue;
    text-decoration: none;
}

.bar a:hover {
    color: #0E162C;
    background-color: aliceblue;
}

.tab {
    position: fixed;

    width: 75%;
    height: 80%;

    top: 125px;
    left: 12.5%;

    background-color: #0E162C;
}

.log {
    position: relative;
    width: 12.5%;
    height: 80%;
    top: 10%;
    background-color: #0078FF;
    color: aliceblue;
    font-size: 30px;
    transition: width 1s;
}

.log:hover {
    width: 37.5%;
}

.mplay {
    position: relative;
    right: 10%;
}